

@model TES_MEDICAL.GUI.Models.Benh

<h4>Tạo mới</h4>
<hr />
<div>
    @using (Html.BeginForm(null, null, FormMethod.Get, new { @class = "d-flex flex-wrap", name = "frm", id = "frm", enctype = "multipart/form-data" }))
    {


        <div class="text-danger"></div>


        <div class="form-group col-4">
            @Html.LabelFor(model => model.TenBenh, "Tên Bệnh", htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenBenh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenBenh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-4">
            @Html.LabelFor(model => model.ThongTin, "Thông tin", htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ThongTin, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ThongTin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-4">
            @Html.LabelFor(model => model.MaCK, "Chuyên Khoa", htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                @Html.DropDownList("MaCK", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaCK, "", new { @class = "text-danger" })
            </div>
        </div>





    }




    <div>
        <div class="position-relative" style="height:100px">
            <h2 class="position-absolute bottom-0 start-0">CTTrieuChung</h2>
        </div>


        <table class="table table table-striped text-left w-100" id="tableCTTrieuChung">
            <thead class="align-middle">
                <tr>



                    <th>

                        Tên triệu chứng
                    </th>


                    <th>

                        Chi tiết triệu chứng
                    </th>




                    <th class="text-center col-2">   <button type="button" class="btn btn-sm btn-success mr-2 mr-auto text-nowrap" id="AddCTTrieuChung" onclick="AddView('CTTrieuChung')"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Chi tiết triệu chứng</button></th>
                </tr>
            </thead>

            <tbody class="tbody" id="partialCTTrieuChung">
            </tbody>
        </table>




    </div>

</div>


@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

<script>

    $(document).ready(function () {

    });
</script>

