

@model TES_MEDICAL.GUI.Models.Benh

<div class="container-fluid" id="pannelBenh">
    <h4 style="font-weight:bold; text-align:center">THÔNG TIN BỆNH</h4>
    <hr />

    <div class="row m-2" style="padding-left: 400px">

        <div class="col-6 row">
            <div class="col-8" style="font-weight:bold!important">
                Tên bệnh
            </div>
            <div class="col-8">
                @Html.DisplayFor(model => model.TenBenh)
            </div>
        </div>

        <div class="col-6 row">
            <div class="col-8" style="font-weight:bold!important">
                Chuyên khoa
            </div>
            <div class="col-8">
                @Model.MaCKNavigation.TenCK
            </div>
        </div>

        <div class="col-12 row mt-3">
            <div class="col-8" style="font-weight:bold!important">
                Thông tin
            </div>
            <div class="col-8">
                @Html.DisplayFor(model => model.ThongTin)
            </div>
        </div>

    </div>

    <div class="position-relative" style="height:100px">
        <h2 class="position-absolute bottom-0 start-0">Chi tiết triệu chứng</h2>
    </div>
    <div class="row">
        <table class="table table table-striped text-left w-100" id="tableNhanVien">
            <thead class="align-middle text-center">
                <tr>

                    <th>

                        STT
                    </th>

                    <th>

                        Chi tiết
                    </th>

                </tr>
            </thead>

            <tbody class="tbody">
                @{
                    var stt = 1;
                    foreach (var item in Model.CTTrieuChung)
                    {
                        <tr>
                            <td width="50px" class="text-center">#@stt</td>
                            <td>
                                <div class="row">
                                    <div class="col-4 row">
                                        <div class="col-4" style="font-weight:bold!important">
                                            Tên triệu chứng
                                        </div>
                                        <div class="col-8">
                                            @item.TenTrieuChung
                                        </div>
                                    </div>
                                    <div class="col-4 row">
                                        <div class="col-4" style="font-weight:bold!important">
                                            Chi tiết triệu chứng
                                        </div>
                                        <div class="col-8">
                                            @item.ChiTietTrieuChung
                                        </div>
                                    </div>

                                </div>


                            </td>
                        </tr>

                        stt++;

                    }
                }
            </tbody>
        </table>
    </div>



</div>






