@model TES_MEDICAL.GUI.Models.NguoiDung

<style>
    .detail-img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        object-position: center center;
    }
</style>

<div class="container-fluid" id="pannelNguoiDung">
    <h4 style="text-align:center; font-weight:bold">THÔNG TIN NGƯỜI DÙNG</h4>
    <hr />
    <div class="row m-4">
        <!--Phần hình ảnh-->
        <div class="col-sm-4">
             <img class="detail-img" src="~/images/@Model.HinhAnh" />
                @*@Html.DisplayFor(model => model.HinhAnh)*@ 
            @*<img src="/img/bs.png" style="width:200px" />*@

        </div>
        <div class="col-sm-8">
            <div>
                <div class="col-12 row ">
                    <h3 class="text-success" style="font-weight: bold;">@Model.HoTen</h3>
                    <p style="font-weight: bold;">Chức vụ : 
                        @if (Model.ChucVu == 1)
                        {
                            @("Admin")
                        }
                        else
                        {
                            @("User")
                        }
                    </p>
                </div>
                
                <div class="row col-12">
                    <div class="col-sm-4" style="font-weight:bold!important">
                        Email
                    </div>
                    <div class="col-sm-8">
                        <!-- @Html.DisplayFor(model => model.Email) -->
                        @Model.Email
                    </div>
                </div>


                <div class="col-12 row">
                    <div class="col-sm-4" style="font-weight:bold!important">
                        Số điện thoại
                    </div>
                    <div class="col-sm-8">
                        <!-- @Html.DisplayFor(model => model.SDT) -->
                        @Model.SDT
                    </div>
                </div>
                <div class="col-12 row">
                    <div class="col-sm-4" style="font-weight:bold!important">
                        Trạng thái
                    </div>
                    <div class="col-sm-8">
                        <!-- @Html.DisplayFor(model => model.TrangThai) -->
                        @Model.TrangThai
                    </div>
                </div>


            </div>
        </div>


    </div>
</div>