@model TES_MEDICAL.GUI.Models.NguoiDung

<style>
    .main-modal{
        padding-inline: 5%;
    }
    .main-title-1 {
        background-color: white;
        border-left: 8px solid rgb(82, 183, 136);
    }

        .main-title-1 h4 {
            padding: 2%;
            font-size: 35px;
            font-weight: 400;
        }
    .main-left{
        text-align: center;
    }
    .detail-img {
        width: 250px;
        height: 250px;
        object-fit: cover;
        object-position: center center;
    }
    .main-right .main-right-top h1 {
        font-weight: bold;
        color: rgb(82, 183, 136);
    }
    .main-right .main-right-top .main-role {
        font-weight: 300;
        font-size: 25px;
    }
    .main-right-item h6{
        font-size: 20px;
    }

</style>

<div class="container-fluid" id="pannelNguoiDung">
    <div class="main-title-1 mb-4">
        <h4>Thông tin người dùng</h4>
    </div>
    <div class="main-modal row m-4">
        <!--Phần hình ảnh-->
        <div class="main-left col-sm-5">
            <img class="detail-img" src="~/images/@Model.HinhAnh" />
            @*@Html.DisplayFor(model => model.HinhAnh)*@
            @*<img src="/img/bs.png" style="width:200px" />*@
        </div>
        <div class="main-right col-sm-7">
                <div class="main-right-top col-12 row mb-4">
                    <h1 class="main-name">@Model.HoTen</h1>
                    <h5 class="main-role">
                        Chức vụ :
                        @if (Model.ChucVu == 1)
                        {
                            @("Admin")
                        }
                        else
                        {
                            @("User")
                        }
                    </h5>
                </div>

                <div class="main-right-item row col-12">
                    <div class="col-sm-4" >
                        <h6>Email</h6>                        
                    </div>
                    <div class="col-sm-8" >
                        <h6 style="font-weight: 600">
                            @*@Html.DisplayFor(model => model.Email)*@
                            @Model.Email
                        </h6>                        
                    </div>
                </div>


                <div class="main-right-item col-12 row">
                    <div class="col-sm-4">
                        <h6>
                            Số điện thoại
                        </h6>
                    </div>
                    <div class="col-sm-8">
                        <h6 style="font-weight: 600">
                        @*@Html.DisplayFor(model => model.SDT)*@
                        @Model.SDT
                        </h6>                        
                    </div>
                </div>
                <div class="main-right-item col-12 row">
                    <div class="col-sm-4">
                        <h6>
                            Trạng thái
                        </h6>
                    </div>
                    <div class="col-sm-8">
                        <h6 style="font-weight: 600">
                            @*@Html.DisplayFor(model => model.TrangThai)*@
                            @Model.TrangThai
                        </h6>                        
                    </div>
                </div>


        </div>


    </div>
</div>