

@model TES_MEDICAL.GUI.Models.NguoiDung

<div class="container-fluid" id="pannelNguoiDung">
    <h1>Thông tin</h1>
    <hr />


    <div class="row m-2">
                    
         <div class="col-6 row">
            <div class="col-4" style="font-weight:bold!important">
                Email
            </div>
            <div class="col-8">
                @Html.DisplayFor(model => model.Email)
            </div>
        </div>
          
                     
         <div class="col-6 row">
            <div class="col-4" style="font-weight:bold!important">
                MatKhau
            </div>
            <div class="col-8">
                @Html.DisplayFor(model => model.MatKhau)
            </div>
        </div>
          
                     
         <div class="col-6 row">
            <div class="col-4" style="font-weight:bold!important">
                HoTen
            </div>
            <div class="col-8">
                @Html.DisplayFor(model => model.HoTen)
            </div>
        </div>
          
                     
         <div class="col-6 row">
            <div class="col-4" style="font-weight:bold!important">
                SDT
            </div>
            <div class="col-8">
                @Html.DisplayFor(model => model.SDT)
            </div>
        </div>
          
                     
         <div class="col-6 row">
            <div class="col-4" style="font-weight:bold!important">
                HinhAnh
            </div>
            <div class="col-8">
                @Html.DisplayFor(model => model.HinhAnh)
            </div>
        </div>
          
                     
         <div class="col-6 row">
            <div class="col-4" style="font-weight:bold!important">
                ChucVu
            </div>
            <div class="col-8">
                @Html.DisplayFor(model => model.ChucVu)
            </div>
        </div>
          
                     
         <div class="col-6 row">
            <div class="col-4" style="font-weight:bold!important">
                TrangThai
            </div>
            <div class="col-8">
                @Html.DisplayFor(model => model.TrangThai)
            </div>
        </div>
          
                
    </div>

    
  
    </div>






