@model TES_MEDICAL.GUI.Models.ToaThuoc


<div class="container-fluid" id="pannelToaThuoc">
    <h4 style="text-align:center; font-weight:bold">THÔNG TIN TOA THUỐC</h4>
    <hr />
    <br />

    <div class="col-10 m-auto" id="pannelToaThuoc">
        <div style="text-align: right; color: seagreen; margin-bottom: 10px; font-weight: bold;">

        </div>
        <table class="table table-borderless">
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Tên bệnh nhân</td>
                    <th>@Model.MaPhieuKhamNavigation.MaBNNavigation.HoTen</th>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Số điện thoại</td>
                    <th>@Model.MaPhieuKhamNavigation.MaBNNavigation.SDT</th>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Ngày sinh</td>
                    <th>@Model.MaPhieuKhamNavigation.MaBNNavigation.NgaySinh?.ToString("dd/MM/yyyy")</th>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Địa chỉ</td>
                    <th>@Model.MaPhieuKhamNavigation.MaBNNavigation.DiaChi</th>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <hr>
        <table class="table">
            <tbody>
                <tr>
                    <th>Tên thuốc</th>
                    <th>Số lượng</th>
                    <th>Ghi chú</th>
                    <th>Đơn giá</th>
                    <th>Thành tiền</th>
                </tr>
                @{
                    decimal toTal = 0;
                }

                @foreach (var item in ViewBag.CTToaThuoc as IEnumerable<ChiTietToaThuoc>)
                {
                    <tr>
                        <td>@item.MaThuocNavigation.TenThuoc</td>
                        <td>@item.SoLuong</td>
                        <td>@item.GhiChu</td>
                        <td>@item.MaThuocNavigation.DonGia.ToString("n0").Replace(',', '.') VNĐ</td>
                        <td>@((item.SoLuong*item.MaThuocNavigation.DonGia).ToString("n0").Replace(',', '.')) VNĐ</td>

                    </tr>



                    toTal += (item.SoLuong * item.MaThuocNavigation.DonGia);
                }




            </tbody>
        </table>

        <div>
            <h4 style="color: seagreen; font-weight: bold; text-align: right;">Tổng tiền: @toTal.ToString("n0").Replace(',', '.') VNĐ</h4>
        </div>
    </div>
</div>