@model TES_MEDICAL.GUI.Models.ToaThuoc


<h4 style="text-align:center; font-weight:bold">THÔNG TIN TOA THUỐC</h4>
<hr />
<br />

<div class="col-10 m-auto">
    <input style="display:none" value="@Model.MaPhieuKham" id="maPK" />
    <table class="table table-borderless">
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Tên bệnh nhân</td>
                <th>@Model.MaPhieuKhamNavigation.MaBNNavigation.HoTen</th>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Số điện thoại</td>
                <th>@Model.MaPhieuKhamNavigation.MaBNNavigation.SDT</th>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Ngày lập hóa đơn</td>
                <th>@Model.MaPhieuKhamNavigation.NgayKham</th>
                <td></td>
            </tr>
        </tbody>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th class="col-3">Tên thuốc</th>
                <th class="col-1 text-center">SL</th>
                <th class="col-2 text-center">Vị trí</th>
                <th class="col-3">Ghi chú</th>
                <th class="col-3 text-end">Đơn giá</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.CTLichSuThuoc as IEnumerable<ChiTietToaThuoc>)
            {
                <tr>
                    <td class="col-3">@item.MaThuocNavigation.TenThuoc</td>
                    <td class="col-1 text-center">@item.SoLuong</td>
                    <td class="col-2 text-center">@item.MaThuocNavigation.Vitri</td>
                    <td class="col-3">@item.GhiChu</td>
                    <td class="col-3 text-end">@item.MaThuocNavigation.DonGia.ToString("n0").Replace(',', '.') VNĐ</td>
                </tr>
            }
            
            
        </tbody>
    </table>

    <div>
        @*<h4 style="color: seagreen; font-weight: bold; text-align: right;">Tổng tiền: @Model.HoaDonThuoc.TongTien</h4>*@
    </div>
</div>