@model TES_MEDICAL.GUI.Models.ToaThuoc

<style>
    /* định dạng thẻ div chưa các button tab */
    div.tab-modal {
        overflow: hidden;
        border-bottom: 1px solid #ccc;
        background-color: #ffff;
    }

        /* định dạng các button tab */
        div.tab-modal button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
            font-weight: 600;
        }
    /* định dạng nội dung hiển thị */
    .tabcontent {
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
</style>

<h4 style="text-align:center; font-weight:bold">THÔNG TIN TOA THUỐC</h4>
<hr />
<br />
<div style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; margin-inline: 5px; margin-top: -5px;">
    <div class="tab-modal" id="tabModal">
        <button id="tab1" onclick="showDonThuoc()" class="tablinks active">Toa thuốc</button>
        <button id="tab2" onclick="showThongTin()" class="tablinks">Thông tin bệnh nhân</button>
    </div>
    <input style="display:none" value="@Model.MaPhieuKham" id="maPK" />
    @*<table class="table table-borderless">
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Tên bệnh nhân</td>
                    <th>@Model.MaPhieuKhamNavigation.MaBNNavigation.HoTen</th>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Số điện thoại</td>
                    <th>@Model.MaPhieuKhamNavigation.MaBNNavigation.SDT</th>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Ngày lập hóa đơn</td>
                    <th>@Model.MaPhieuKhamNavigation.NgayKham</th>
                    <td></td>
                </tr>
            </tbody>
        </table>*@
    <div id="HTML" class="tabcontent p-3 border-0" style="padding-inline: 40px">
        <div class="ms-3" style="background-color: white; position: absolute;">
            <h6 id="title-history" class="p-2" style="font-weight: 600;">Thông tin bệnh nhân</h6>
        </div>
        <div class="row ms-1 me-1 mb-1" id="title-border" style="margin-top: 20px;">
            <div class="col-sm-4 mt-4">
                <h6>
                    <strong>
                        Tên bệnh nhân:
                    </strong><br />
                    @Model.MaPhieuKhamNavigation.MaBNNavigation.HoTen
                </h6>
            </div>
            <div class="col-sm-4 mt-4">
                <h6>

                    <strong>Số điện thoại</strong><br />
                    @Model.MaPhieuKhamNavigation.MaBNNavigation.SDT
                </h6>
            </div>
            <div class="col-sm-4 mt-4">
                <h6>
                    <strong>Ngày lập hóa đơn</strong><br />
                    @Model.MaPhieuKhamNavigation.NgayKham
                </h6>
            </div>
        </div>
    </div>

    @*<table class="table">
            <thead>
                <tr>
                    <th class="col-3">Tên thuốc</th>
                    <th class="col-1 text-center">SL</th>
                    <th class="col-2 text-center">Vị trí</th>
                    <th class="col-3">Ghi chú</th>
                    <th class="col-3 text-end">Đơn giá</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.CTLichSuThuoc as IEnumerable<ChiTietToaThuoc>)
                {
                    <tr>
                        <td class="col-3">@item.MaThuocNavigation.TenThuoc</td>
                        <td class="col-1 text-center">@item.SoLuong</td>
                        <td class="col-2 text-center">@item.MaThuocNavigation.Vitri</td>
                        <td class="col-3">@item.GhiChu</td>
                        <td class="col-3 text-end">@item.MaThuocNavigation.DonGia.ToString("n0").Replace(',', '.') VNĐ</td>
                    </tr>
                }


            </tbody>
        </table>*@
    <div id="PHP" class="tabcontent p-3 border-0" style="font-size: 17px">
        <table class="table table-bordered">
            <tr id="table-header" class="text-light">
                <th class="col-6">Tên thuốc</th>
                <th class="col-2 text-center">Số lượng</th>
                <th class="col-2 text-center">Vị trí</th>
                <th class="col-2">Đơn giá</th>

            </tr>
            <tbody>
                @foreach (var item in ViewBag.CTLichSuThuoc as IEnumerable<ChiTietToaThuoc>)
                {
                    <tr>
                        <td class="col-6">
                            <h6 style="font-weight: bold">@item.MaThuocNavigation.TenThuoc</h6>
                            @*Thẻ <p style="font-style: italic"></p> này mô tả, gắn dữ liệu vào có thể xóa*@
                            <p style="font-style: italic">@item.GhiChu</p>
                        </td>
                        <td class="col-2 text-center">@item.SoLuong</td>
                        <td class="col-2 text-center">@item.MaThuocNavigation.Vitri</td>
                        <td class="col-2">@item.MaThuocNavigation.DonGia.ToString("n0").Replace(',', '.') VNĐ</td>

                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    var buttons = document.getElementsByClassName('tablinks');
    var contents = document.getElementsByClassName('tabcontent');

    function showDonThuoc() {
        $('.tabcontent').each(function () {

            $(this).prop('style', 'display: none');
        });

        $('#PHP').prop('style', 'display: block');
    }
    function showThongTin() {
        $('.tabcontent').each(function () {

            $(this).prop('style', 'display: none');
        });

        $('#HTML').prop('style', 'display: block');
    }
    for (var i = 0; i < buttons.length; i++) {
        buttons[i].addEventListener("click", function () {
            var id = this.textContent;
            for (var i = 0; i < buttons.length; i++) {
                buttons[i].classList.remove("active");
            }
            this.className += " active";
            showContent(id);
        });
    }
    showDonThuoc();
    //$('#tab1').click(function () {
    //    showContent('PHP')
    //})
    //$('#tab2').click(function () {
    //    showContent('HTML')
    //})
</script>