

@model TES_MEDICAL.GUI.Models.Thuoc

<div class="container-fluid" id="pannelThuoc">
    <h1>Thông tin</h1>
    <hr />


    <div class="row m-2">
                    
         <div class="col-6 row">
            <div class="col-4" style="font-weight:bold!important">
                TenThuoc
            </div>
            <div class="col-8">
                @Html.DisplayFor(model => model.TenThuoc)
            </div>
        </div>
          
                     
         <div class="col-6 row">
            <div class="col-4" style="font-weight:bold!important">
                Vitri
            </div>
            <div class="col-8">
                @Html.DisplayFor(model => model.Vitri)
            </div>
        </div>
          
                     
         <div class="col-6 row">
            <div class="col-4" style="font-weight:bold!important">
                DonGia
            </div>
            <div class="col-8">
                @Html.DisplayFor(model => model.DonGia)
            </div>
        </div>
          
                     
         <div class="col-6 row">
            <div class="col-4" style="font-weight:bold!important">
                ThongTin
            </div>
            <div class="col-8">
                @Html.DisplayFor(model => model.ThongTin)
            </div>
        </div>
          
                     
         <div class="col-6 row">
            <div class="col-4" style="font-weight:bold!important">
                TrangThai
            </div>
            <div class="col-8">
                @Html.DisplayFor(model => model.TrangThai)
            </div>
        </div>
          
                     
         <div class="col-6 row">
            <div class="col-4" style="font-weight:bold!important">
                HinhAnh
            </div>
            <div class="col-8">
                @Html.DisplayFor(model => model.HinhAnh)
            </div>
        </div>
          
                
    </div>

    
  
    </div>






