@model PhieuKham;

<h4 style="text-align:center; font-weight:bold" id="Title">XÁC NHẬN THÔNG TIN</h4>
<hr />
<br />

@*<div class="col-12">
    <table class="table table-borderless">
        <tr>
            <td colspan="3"><h6><strong>Tên bệnh nhân:</strong> @Model.MaBNNavigation.HoTen</h6></td>
            <td><h6><strong>Ngày khám:</strong> @Model.NgayKham.ToString("dd/MM/yyyy")</h6></td>
            <td><h6><strong>Ngày tái khám:</strong> 1/1/2021</h6></td>
        </tr>
        <tr>
            <td><h6><strong>Mạch:</strong> @Model.Mach</h6></td>
            <td><h6><strong>Huyết Áp:</strong> @Model.HuyetAp</h6></td>
            <td><h6><strong>Nhiệt độ:</strong> @Model.NhietDo</h6></td>
        </tr>
        <tr>

        </tr>
        <tr>
            <td colspan="2">
                <h6><strong>Chẩn đoán:</strong><br />
                    @Model.ChanDoan
                </h6>
            </td>
            <td colspan="3">
                <h6 class="text-wrap">
                    <strong>Kết quả khám bệnh:</strong><br />
                    @Model.KetQuaKham
                </h6>
            </td>
        </tr>
    </table>
</div>*@
<div class="col-12" style="padding-inline: 40px">
    <div class="row mb-3">
        <div class="col-sm-6">
            <h6>
                Tên bệnh nhân: 
                <strong>
                    @Model.MaBNNavigation.HoTen
                </strong> 

            </h6>
        </div>
        <div class="col-sm-3">
            <h6>Ngày khám: 
                <strong>@Model.NgayKham.ToString("dd/MM/yyyy")</strong> 
            </h6>
        </div>
        <div class="col-sm-3">
            <h6>Ngày tái khám
                <strong>@Model.NgayTaiKham?.ToString("dd/MM/yyyy")</strong>
            </h6>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-3">
            <h6>Mạch: 
                <strong>@Model.Mach</strong>
            </h6>
        </div>
        <div class="col-sm-3">
            <h6>Huyết Áp:
                <strong>@Model.HuyetAp</strong> 
            </h6>
        </div>
        <div class="col-sm-3">
            <h6>Nhiệt độ:
                <strong> @Model.NhietDo</strong> 
            </h6>
        </div>
    </div>
    @*chi tiết sinh hiệu thêm*@
    <div class="row mb-3">
        @*vòng lập*@ 
        <div class="col-sm-3">
            <h6>SPO2: 
                <strong>12</strong>
            </h6>
        </div>

    </div>
    <div class="row mb-3">
        <div class="col-sm-3">
            <h6><strong>Chẩn đoán: </strong><br> @Model.ChanDoan</h6>
        </div>
        <div class="col-sm-9">
            <h6>
                <strong>Kết quả khám:</strong><br>
                @Model.KetQuaKham
                @*cảm sốt, cảm sốt cảm sốt cảm sốt cảm sốt cảm sốt cảm sốt cảm sốt cảm sốt
                cảm sốt cảm sốt cảm sốt cảm sốt cảm sốt
                cảm sốt, cảm sốt cảm sốt cảm sốt cảm sốt cảm sốt cảm sốt cảm sốt cảm sốt
                cảm sốt cảm sốt cảm sốt cảm sốt cảm sốt*@
            </h6>
        </div>
    </div>
</div>
<hr>
<div class="col-12" style="font-size: 17px">
    
        <table class="table">
            <thead>
                <tr>
                    <th class="col-8">Tên thuốc</th>
                    <th class="col-4 text-center">Số lượng</th>                
                </tr>
            </thead>
            <tbody id="toathuocFinal">
                @foreach (var item in Model.ToaThuoc.ChiTietToaThuoc)
                {
                    <tr>
                        <td class="col-8">
                            <h6 style="font-weight: bold">@item.MaThuocNavigation.TenThuoc</h6>
                            @*Thẻ <p style="font-style: italic"></p> này mô tả, gắn dữ liệu vào có thể xóa*@
                            <p style="font-style: italic"> Ngày uống @item.LanTrongNgay lần, mỗi lần @item.VienMoiLan viên, uống @(item.TruocKhian?"trước khi ăn":"sau khi ăn"), uống @(item.Sang ? "sáng" : "") @(item.Trua ? ", trưa" : "") @(item.Chieu ? ", chiều" : "").</p>
                        </td>
                        <td class="col-2 text-center">@item.SoLuong</td>

                    </tr>
                }

            </tbody>
        </table>

    
</div>
