@model PhieuKham;
@{
    ViewData["Title"] = "Khám bệnh";
    
    Layout = "~/Views/Shared/LayoutMain/MainLayout.cshtml";
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css" />

<style>
    #danhSach_filter input {
        width: 100% !important;
    }

    .error {
        color: red !important;
    }
    .symptom-list li{
        line-height: 40px;
    }
    .button-delete-symptom {   
        height: 20px;
        padding: 0;
        float: right;
        margin-right: 10px;
        background-color: white;
        border: none;
    }
        .button-delete-symptom i {
            font-size: 18px;
            color: #ff6b6b;
            padding-inline: 10px;
            margin-top: 10px;
        }
            .button-delete-symptom i:hover {
                transform: scale(1.1);
                color: #ff002b;
            }
           

</style>

<div class="col-12">
    <div class="block">
        <!-- Basic Form Elements Title -->
        <!-- END Form Elements Title -->
        <!-- Basic Form Elements Content -->
        <div enctype="multipart/form-data" class="form-horizontal p-0" onsubmit="return false;">
            <div class="block-title">
                <h2><strong>Thông tin bệnh nhân</strong></h2>
            </div>
            <div class="form-group row">
                <div class="col-sm-4">
                    <label class="col-md-5 control-label" for="example-email-input">Tên Bệnh Nhân</label>
                    <div class="col-md-10">
                        <h6><strong>@Model.MaBNNavigation.HoTen</strong></h6>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col-md-5 control-label" for="example-email-input">Số điện thoại</label>
                    <div class="col-md-10">
                        <h6><strong>@Model.MaBNNavigation.SDT</strong></h6>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col-md-5 control-label" for="example-text-input">Ngày sinh</label>
                    <div class="col-md-10">
                        <h6><strong>@Model.MaBNNavigation.NgaySinh?.ToString("dd/MM/yyyy")</strong></h6>
                    </div>
                </div>

            </div>
            <br />
            <div class="form-group row">
                <div class="col-sm-4">
                    <label class="col-sm-5 control-label" for="example-select">Giới tính</label>
                    <div class="col-md-10">
                        <h6><strong>@(Model.MaBNNavigation.GioiTinh?"Nữ":"Nam")</strong></h6>
                    </div>
                </div>
                <div class="col-sm-8">
                    <label class="col-md-5 control-label" for="example-email-input">Địa chỉ</label>
                    <div class="col-md-10">
                        <h6><strong>341/8 tổ 34-khu phố 2, phường Tân Chánh Hiệp, Quận 12, Tp. Hồ Chí Minh</strong></h6>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-4">
                    <label class="col-md-5 control-label" for="example-text-input">Ngày tiếp nhận</label>
                    <div class="col-md-10">
                        <h6><strong>@Model.NgayKham.ToString("dd/MM/yyyy")</strong></h6>
                    </div>
                </div>
                <div class="col-sm-8">
                    <label class="col-md-5 control-label" for="example-email-input">Triệu chứng lâm sàn</label>
                    <div class="col-md-10">
                        <h6><strong>@(Model.TrieuChungSoBo??"")</strong></h6>
                    </div>
                </div>
            </div>
        </div>
        <br /><br />
        @using (Html.BeginForm(null, null, FormMethod.Get, new { name = "frmKhamBenh", id = "frmKhamBenh", enctype = "multipart/form-data", @class = "needs-validation" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.MaPK);
            <div enctype="multipart/form-data" class="form-horizontal p-0 " onsubmit="return false;">
                <div class="block-title">
                    <h2><strong>Thông tin sinh hiệu</strong></h2>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                        <label class="col-md-5 control-label" for="example-textarea-input">Mạch</label>
                        <div class="col-md-10">
                            <input type="text" asp-for="Mach" class="form-control" placeholder="Vui lòng nhập mạch">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label class="col-md-5 control-label" for="example-textarea-input">Huyết áp</label>
                        <div class="col-md-10">
                            <input type="text" asp-for="HuyetAp" class="form-control" placeholder="Vui lòng nhập huyết áp">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label class="col-md-5 control-label" for="example-textarea-input">Nhiệt độ</label>
                        <div class="col-md-10">
                            <input type="text" asp-for="NhietDo" class="form-control" placeholder="Vui lòng nhập nhiệt độ">
                        </div>
                    </div>

                </div>
                <br /><br />
                <div class="form-group row">
                    <div class=".button-reload col-sm-4">
                        <a class="btn" onclick="AddCtSinhHieu()" style="background-color:seagreen; color: white"><i class="fa fa-plus text-white"></i>  Thêm sinh hiệu</a>
                    </div>
                    <div class="col-sm-8 row" id="TableSinhHieu">


                    </div>
                </div>
            </div>
            <br /><br />
            <div enctype="multipart/form-data" class="form-horizontal p-0" onsubmit="return false;">
                <div class="block-title">
                    <h2><strong>Thông tin khám bệnh</strong></h2>
                </div>
                <div class="row">
                    <div class="col-sm-5" style="padding-inline: 38px;">
                        <label class="col-sm-4 control-label" for="example-textarea-input">Kết quả khám</label>
                        <div class="row">
                            <div class="col-sm-8 pe-0 me-0">
                                <input class="form-control" placeholder="Nhập triệu chứng ..." />
                            </div>
                            <div class="button-reload col-sm-4 text-end">
                                <a class="btn btn-success">Tìm kiếm</a>
                            </div>
                        </div>
                        <!--<div class="col-sm-12">-->
                        @*<textarea asp-for="KetQuaKham" rows="6" class="form-control" placeholder="Nhập triệu chứng ..."></textarea>*@
                        <!--</div>-->
                        <div class="mt-4" style="border: 1px solid #dee2e6; overflow: scroll; overflow-x: hidden; height: 180px; ">
                            <ul class="symptom-list mt-2">
                                <li><span>Cảm cúm</span> <a class="button-delete-symptom btn"><i class="fas fa-trash-alt"></i></a></li>
                                <li><span>Cảm cúm</span> <a class="button-delete-symptom btn"><i class="fas fa-trash-alt"></i></a></li>
                                <li><span>Cảm cúm</span> <a class="button-delete-symptom btn"><i class="fas fa-trash-alt"></i></a></li>
                                <li><span>Cảm cúm</span> <a class="button-delete-symptom btn"><i class="fas fa-trash-alt"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="row">
                            <div class="col-sm-12" style="padding-inline: 38px;">
                                <label class="col-md-5 control-label" for="example-textarea-input">Chẩn đoán</label>
                                <div class="col-md-11">
                                    <input type="text" class="form-control" asp-for="ChanDoan" placeholder="Vui lòng nhập chẩn đoán">
                                </div>
                            </div>

                            <div class="col-sm-6 mt-3" style="padding-inline: 38px;">
                                <label class="col-md-5 control-label" for="example-textarea-input">Ngày khám</label>
                                <div class="col-md-10">
                                    <input type="Text" class="form-control" value="@Model.NgayKham.ToString("MM/dd/yyyy")" placeholder="Vui lòng nhập ngày khám" readonly>
                                </div>
                            </div>
                            <br>
                            <div class="col-sm-6 mt-3" style="padding-inline: 38px;">
                                <label class="col-md-5 control-label" for="example-textarea-input">Ngày tái khám</label>
                                <div class="col-md-10">
                                    <input type="date" class="form-control" asp-for="NgayTaiKham" placeholder="Vui lòng nhập ngày tái khám">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }
        <br /><br />
        <div enctype="multipart/form-data" class="form-horizontal p-0" onsubmit="return false;">
            <div class="block-title">
                <h2><strong>Lịch sử khám</strong></h2>
            </div>
            <div class="form-group">
                <div class="button-reload form-group" style="padding-inline: 38px; text-align: right;">
                    <button class="btn" style="width: 150px; color:white;" data-bs-toggle="collapse" data-bs-target="#LichSuKham" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-eye text-white"></i>  Lịch sử khám</button>
                </div>
            </div>
            <div class="form-group collapse" id="LichSuKham" style="margin-inline: 20px;">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Ngày khám</th>
                            <td></td>
                            <td></td>
                            <th scope="col">Chẩn đoán</th>
                            <td></td>
                            <td></td>
                            <th scope="col" class="text-center">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var LichSu = ViewBag.LichSuKham as IEnumerable<PhieuKham>;
                            if (LichSu.Count() > 0)
                            {
                                foreach (var item in LichSu)
                                {
                                    <tr>
                                        <td>@item.NgayKham.ToString("dd/MM/yyyy")</td>
                                        <td></td>
                                        <td></td>
                                        <td>@item.ChanDoan</td>
                                        <td>
                                        <td>
                                        </td>
                                        <td class="text-nowrap text-center">
                                            <a class="btn btn-info btn-sm active" title="Thông tin" onclick="OpenLichSuKham('@item.MaPK')"> <i class="fa fa-info-circle" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="8" class="text-center">Chưa có lich sử khám</td>
                                </tr>

                            }

                        }



                    </tbody>
                </table>

            </div>
        </div>
        <br /><br />
        <div enctype="multipart/form-data" class="form-horizontal p-0 " onsubmit="return false;">
            <div class="block-title">
                <h2><strong>Toa thuốc</strong></h2>
            </div>
            <div class="form-group">
                <div class="button-reload form-group" style="padding-inline: 38px; text-align: right;">
                    <button style="background-color:seagreen;  color:white;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="fa fa-plus text-white"></i>
                        Thêm thuốc
                    </button>
                    @*<button class="btn" style="background-color:seagreen;  color:white;"><i class="fa fa-plus text-white"></i>  Thêm toa thuốc</button>*@
                </div>
            </div>
            <div class="form-group" style="margin-inline: 20px;">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col-8">Tên thuốc</th>
                            <th class="col-2 text-center">Số lượng</th>
                            <th class="col-2 text-center">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody id="toathuocFinal">
                    </tbody>
                </table>

            </div>

        </div>
        <!--Button-->
        <div class="form-group" style="text-align: right; margin-right: 10px;">
            <button type="button" id="btSave" class="btn btn-info" onclick="OpenXacNhanKetQua()"><i class="far fa-check"></i>&nbsp;Xác nhận</button>
            <button type="button" class="btn btn-danger" id="btclose" data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Đóng</button>
        </div>
        <br /><br />
    </div>


    <br />
</div>



@*Modal Thêm thuốc*@
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="border-radius: 5px">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" id="ThuocContent">

        </div>
    </div>
</div>

<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">

                <div class="modal-title" style="font-size: 17px;text-transform:uppercase;color:#3c8dbc"><strong id="myModalTitle"></strong></div>
            </div>
            <div class="modal-body">

                <div id="myModalContent">

                </div>
            </div>


            <div class="modal-footer">
                <div class="text-right">
                    <button type="button" id="btUse" class="btn btn-sm btn-success" onclick="UseOld()" data-bs-dismiss="modal"><i class="fas fa-sync"></i>&nbsp;Dùng toa thuốc</button>
                    <button type="button" id="btSend" class="btn btn-sm btn-success"><i class="fa fa-save"></i>&nbsp;Gửi toa thuốc</button>
                    <button type="button" class="btn btn-danger btn-sm" id="btmodelclose" data-bs-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Đóng</button>
                </div>
            </div>
        </div>

    </div>
</div>


<ul id="log"></ul>

@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
<script>
    $(document).ready(


        function () {
         

            $("#frmKhamBenh").validate({
                // Specify validation rules
                rules: {
                    Mach: "required",

                    HuyetAp: "required",

                    KetQuaKham: "required",

                    ChanDoan: "required"

                },
                messages: {
                    Mach: {
                        required: "Bạn cần nhập tần số mạch",
                    },

                    HuyetAp: {
                        required: "Bạn cần nhập huyết áp",
                    },

                    KetQuaKham: {
                        required: "Bạn cần nhập kết quả khám",
                    },

                    ChanDoan: {
                        required: "Bạn cần nhập chẩn đoán",
                    }
                },

            });







        });
    function BindOld(item) {
        $.get("/BacSi/GetAutoFill", { TenBenh: item }, function (data) {
            oldPK = data;
            UseOld()

        });

    }
</script>


@section Scripts{

    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>

    <script type="text/javascript" src="~/js/datetime.js"></script>

    <script>
        var table;
        var listCTThuoc = [];
        var ctSH = [];
        var Phieukham =@(Html.Raw(ViewBag.PhieuKham));
        var ToaThuoc = {};
        var oldPK = {};
        var $modal = $('#myModal');
        var $myModalContent = $("#myModalContent");
        $(document).ready(


            function () {

                $("#frmKhamBenh").validate({
                    // Specify validation rules
                    rules: {
                        Mach: "required",

                        HuyetAp: "required",

                        KetQuaKham: "required",

                        ChanDoan: "required"

                    },
                    messages: {
                        Mach: {
                            required: "Bạn cần nhập tần số mạch",
                        },

                        HuyetAp: {
                            required: "Bạn cần nhập huyết áp",
                        },

                        KetQuaKham: {
                            required: "Bạn cần nhập kết quả khám",
                        },

                        ChanDoan: {
                            required: "Bạn cần nhập chẩn đoán",
                        }
                    },

                });

            $("#ChanDoan").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/api/benh/search',
                        headers: {
                            "RequestVerificationToken":
                                $('input[name="__RequestVerificationToken"]').val()
                        },
                        data: { "term": request.term },
                        dataType: "json",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (xhr, textStatus, error) {
                            alert(xhr.statusText);
                        },
                        failure: function (response) {
                            alert("failure " + response.responseText);
                        }
                    });
                },
                select: function (event, ui) {
                    $.ajax({
                        url: "/BacSi/GetAutoFill/",
                        type: 'GET',
                        data: {
                            TenBenh: ui.item.value

                        },
                        success: function (data) {

                            oldPK = data;
                            UseOld()


                        }
                    });
                    var originalEvent = event,
                        input__event_type = '',
                        input__selection_type = '';

                    while (originalEvent) {
                        if (originalEvent.keyCode === 13) {
                            originalEvent.stopPropagation();
                        }
                        if (originalEvent === event.originalEvent) {
                            break;
                        }
                        originalEvent = event.originalEvent;
                    }

                    input__event_type = originalEvent.type;

                    if (input__event_type === 'menuselect') { // selected by keyboard instead of mouse/touch
                        input__selection_type = 'menuselect'
                    }

                }
            });


                $.get("GetListThuoc", function (data) {
                    $('#ThuocContent').html(data)
                    table =  $('#danhSach').DataTable(
                        {



                            "order": [0, "asc"],
                            "language": {
                                "lengthMenu": "Hiển thị _MENU_ kết quả mỗi trang",
                                "zeroRecords": "Không có kết quả",
                                "info": "Trang: _PAGE_ / _PAGES_",
                                "infoEmpty": "Không có yêu cầu nào",
                                "infoFiltered": "(filtered from _MAX_ total records)",
                                "search": "Tìm: ",
                                "paginate": {
                                    "first": "Trang đầu",
                                    "last": "Trang cuối",
                                    "next": ">",
                                    "previous": "<"
                                },
                            }
                            //"columnDefs": [
                            //    {
                            //        "targets": [2],
                            //        "visible": false
                            //    }

                            //]






                        }
                    )
                });





            });
        //Hàm mở modal của Lịch sử khám
        function OpenLichSuKham(MaPK) {
            $.ajax({
                url: "/BacSi/GetToaThuoc/",
                type: 'GET',
                data: {
                    MaPK:MaPK

                },
                success: function (response) {

                    $("#myModalContent").html(response);
                    $("#Title").html("Lịch sử khám");
                    $('#myModal').modal('show');
                    $('#btSend').hide();
                    $('#btUse').show();


                }
            });
            $.get("/BacSi/GetJsonPK", { MaPK: MaPK }, function (data) {
                oldPK = data;


            });


        }
        function AddCtSinhHieu() {
            $('#TableSinhHieu').append(`<div class="SinhHieu row">
                        <div class="col-sm-5 mb-2" style="width: 300px">
                            <input type="text" class="form-control" placeholder="Tên sinh hiệu" name="TenSH" id="TeSH">
                        </div>
                        <div class="col-sm-5 ms-5 mb-2" style="width: 250px">
                            <input type="text" class="form-control ms-3" placeholder="Chỉ số" name="ChiSo" id="ChiSo">
                        </div>
                        <button class="btn btn-danger ms-4 btn-sm remove" style="width:30px;height:30px"><i class="fa fa-trash"></i></button>
                    </div>
                  `)

        }

        function UseOld() {

            Phieukham.ToaThuoc = {};



            $.ajax({
                url: "/BacSi/ReLoadThuoc/",
                type: 'Post',
                data: JSON.parse(oldPK),
                success: function (response) {
                    $("#ThuocContent").html(response);

                    ConfirmToaThuoc();
                    table = $('#danhSach').DataTable(
                        {



                            "order": [0, "asc"],
                            "language": {
                                "lengthMenu": "Hiển thị _MENU_ kết quả mỗi trang",
                                "zeroRecords": "Không có kết quả",
                                "info": "Trang: _PAGE_ / _PAGES_",
                                "infoEmpty": "Không có yêu cầu nào",
                                "infoFiltered": "(filtered from _MAX_ total records)",
                                "search": "Tìm: ",
                                "paginate": {
                                    "first": "Trang đầu",
                                    "last": "Trang cuối",
                                    "next": ">",
                                    "previous": "<"
                                },
                            }
                            //"columnDefs": [
                            //    {
                            //        "targets": [2],
                            //        "visible": false
                            //    }

                            //]






                        }
                    )

                }
            });
        }


        $(document).on('click', '.remove', function () {
            $(this).parent().remove();


        });

        //Hàm mở modal của Xác nhận kết quả
        function OpenXacNhanKetQua() {
            if ($("#frmKhamBenh").valid()) {
                $(".SinhHieu").each(function () {
                    var obj = {};
                    obj.MaPK = $('#MaPK').val();
                    obj.TenSH = $(this).find("[name='TenSH']").val();
                    obj.ThongTinChiTiet = $(this).find("[name='ChiSo']").val();

                    ctSH.push(obj);

                });
                ToaThuoc.MaPhieuKham = Phieukham.MaPK;
                ToaThuoc.TrangThai = 0;
                ToaThuoc.ChiTietToaThuoc = listCTThuoc;
                Phieukham.ChiTietSinhHieu = ctSH;
                Phieukham.Mach = $("#Mach").val();
                Phieukham.NhietDo = $('#NhietDo').val();
                Phieukham.ChanDoan = $('#ChanDoan').val();
                Phieukham.HuyetAp = $('#HuyetAp').val();
                Phieukham.KetQuaKham = $('#KetQuaKham').val();
                Phieukham.ToaThuoc = ToaThuoc;



                $.ajax({
                    url: "/BacSi/XacNhanKetQua/",
                    type: 'Post',
                    data: Phieukham,
                    success: function (response) {
                        $("#myModalContent").html(response);
                        $("#Title").html("Xác nhận thông tin");
                        $('#myModal').modal('show');
                        $('#btSend').show();
                        $('#btUse').hide();
                        $('#danhSach_filter').addClass("col-sm-12");


                    }
                });
            }

        }
        $(document).on('click', '.addThuoc', function () {

            $tr = $(this).parent().parent();
            var $td = $tr.find("td");
            console.log($td.eq(2).text());
            $("#listToaThuoc").append(`<tr>
                        <th class="col-8">
                              <input style="display:none" name="MaThuoc" value="${$td.eq(2).text()}"  />
                            <h6 style="margin-inline: 20px; font-weight:bold;" name ="TenThuoc" >${$td.eq(0).text()}</h6>
                            <div class="row" style="margin-inline: 20px;">
                                <div class="mb-2 col-sm-4">
                                    <label for="">Ngày uống <input style="width: 25%" type="number" class="form-control;" name="LanTrongNgay" > lần.</label>
                                </div>
                                <div class="mb-2 col-sm-4">
                                    <label for="">Mỗi lần <input style="width: 25%" type="number" class="form-control;" name="VienMoiLan"> viên.</label>
                                </div>
                                <div class="form-check col-sm-4 mb-2">
                                    <input class="form-check-input" type="checkbox" name ="TruocKhian" value="" >
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Uống trước khi ăn
                                    </label>
                                </div>
                                <div class="form-check col-sm-4 mb-2">
                                    <input class="form-check-input" type="checkbox" value="" name ="Sang" checked>
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Uống sáng
                                    </label>
                                </div>
                                <div class="form-check col-sm-4 mb-2">
                                    <input class="form-check-input" type="checkbox" value="" name ="Trua" checked>
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Uống trưa
                                    </label>
                                </div>
                                <div class="form-check col-sm-4 mb-2">
                                    <input class="form-check-input" type="checkbox" value="" name ="Chieu" checked>
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Uống tối
                                    </label>
                                </div>
                            </div>
                        </th>
                        <th class="col-2">
                            <div class="input-group mb-3">
                                <input type="number"  placeholder="Số lượng..." class="form-control" name ="SoLuong">
                            </div>
                        </th>
                        <th class="col-2 text-center"><button class="btn btn-danger deleteThuoc"><i class="fa fa-trash"></i></button></th>
                    </tr>
              `);
            table
                .row($(this).parents('tr'))
                .remove()
                .draw();
        });

        $(document).on('click', '.deleteThuoc', function () {
            $tr = $(this).parent().parent();

            var rowNode = table.row.add([$tr.find("[name='TenThuoc']").html(), `<button class="btn btn-success btn-sm addThuoc" style="border-radius: 60px;"><i class="fas fa-plus"></i></button> | <button class="btn-info btn btn-sm active " onclick="_Detail('${$tr.find("[name='MaThuoc']").val()}')" style="border-radius: 60px;"><i class="fa fa-info-circle" ></i></button>`, $tr.find("[name='MaThuoc']").val()]).draw().node();


            $(rowNode).find('td').eq(1).addClass('text-center');
            $(rowNode).find('td').eq(2).addClass('d-none');

            $tr.remove();

        });


        function ConfirmToaThuoc() {
            listCTThuoc = [];
            $('#toathuocFinal').html("");
            $("#listToaThuoc > tr").each(function () {
                var thuoc = {};
                thuoc.MaPK = $('#MaPK').val();
                thuoc.MaThuoc = $(this).find("[name='MaThuoc']").val();
                thuoc.TenThuoc = $(this).find("[name='TenThuoc']").html();
                thuoc.SoLuong = $(this).find("[name='SoLuong']").val();
                thuoc.LanTrongNgay = $(this).find("[name='LanTrongNgay']").val();
                thuoc.VienMoiLan = $(this).find("[name='VienMoiLan']").val();
                if ($(this).find("[name='TruocKhian']").is(":checked")) {
                    thuoc.TruocKhian = true
                } else { thuoc.TruocKhian = false; }
                if ($(this).find("[name='Sang']").is(":checked")) {
                    thuoc.Sang = true
                } else { thuoc.Sang = false; }
                if ($(this).find("[name='Trua']").is(":checked")) {
                    thuoc.Trua = true
                } else { thuoc.Trua = false; }
                if ($(this).find("[name='Chieu']").is(":checked")) {
                    thuoc.Chieu = true
                } else { thuoc.Chieu = false; }

                listCTThuoc.push(thuoc)

                $("#toathuocFinal").append(` <tr>
                            <td class="col-8">
                                <h6 style="font-weight: bold">${thuoc.TenThuoc}</h6>
                                @*Thẻ <p style="font-style: italic"></p> này mô tả, gắn dữ liệu vào có thể xóa*@
                                <p style="font-style: italic"> Ngày uống ${thuoc.LanTrongNgay} lần, mỗi lần ${thuoc.VienMoiLan} viên, uống ${thuoc.TruocKhian?"trước khi ăn":"sau khi ăn"}, uống ${thuoc.Sang ? "sáng" : ""} ${thuoc.Trua ? ", trưa" : ""} ${thuoc.Chieu ? ", chiều" : ""}.</p>
                            </td>
                            <td class="col-2 text-center">${thuoc.SoLuong}</td>

                        </tr>`);



            });

        }

        $("#btSend").click(function () {

            $(this).prop("disabled", true);

            $(this).html(
                '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span><span> Waiting</span>'
            );
            $.ajax({
                type: "POST",
                url: "/Bacsi/ThemToa/",
                data: Phieukham,
                success: function (result) {
                    $('#preloader-wrapper').toggleClass('hide');

                    if (result.status >= 1) {

                        toastr.success(result.text);
                        window.location.href = result.redirectUrL;
                    }
                    else {
                        toastr.warning(result.text);

                    }

                },
                error: function (errormessage) {
                    //alert(errormessage.responseText);
                    $(this).prop("disabled", false);

                    $(this).html(
                        'Retry');
                },
                failure: function (message) {
                    $('#preloader-wrapper').toggleClass('hide');
                }
            });


        });
        function _Detail(id_) {
            $myModalContent.html("");

            $.ajax({
                url: '/BacSi/ChiTietThuoc/',

                type: "Get",
                timeout: 20000,

                async: true,
                data: {
                    id: id_
                },

                success: function (result) {
                    $myModalContent.html(result);
                    $('#btSend').hide();
                    $('#btUse').hide();
                    $modal.modal('show');


                    $('#preloader-wrapper').toggleClass('hide');
                },
                failure: function (message) {
                    $('#preloader-wrapper').toggleClass('hide');
                }
            });
        }

    </script>
}


