@page "/Product"

@using TES_MEDICAL.ADMIN.Client.Components
@attribute [Authorize]



<div class="m-3">


    <div>
        <div class="d-flex flex-wrap m-2">
            <input class="mr-2 mb-2 form-control-sm" @bind="@searchName" placeholder="Tìm theo Tên món" />
            <select class="form-control-sm mr-2" @bind="searchGia">
                <option value="0">Chọn mức giá</option>
                <option value="1">Dưới 100</option>
                <option value="2">100 - 300 </option>
                <option value="3">Trên 300</option>

            </select>
            <div class="col-4">

                <button type="button" class="btn btn-success btn-sm mr-2 " @onclick="Timkiem" id="btSeach"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Lọc</button>

                <button type="button" class="btn btn-sm btn-success mr-2" @onclick="@(() => ShowAddModal("ProductModal"))" id="btCreateN"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Tạo mới</button>
                <button type="button" class="btn btn-success mr-2 btn-sm" id="btSeach" @onclick="Clear"><i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;Làm mới</button>
                @*@if (loading)
                {
        <span class="spinner-border spinner-border-sm mr-1"></span>}*@
            </div>
            <div class="ml-auto col-2">


                <div class="form-check">
                    <input type="checkbox" @bind="@searchTrangThai" @oninput="@(async e=> { searchTrangThai =(bool)e.Value; await GetProduct(); })" class="form-check-input" id="chkall"  />
                    <label class="form-check-label">Hiện toàn bộ</label>
                </div>


            </div>

        </div>



    </div>





</div>
<div id="nameListContainer">
    @if (!Nocontent&&!loading)
    {
<div style="min-height:400px">
    <table class="table table table-striped table-bordered text-left w-100 " style="font-size:small">
        <thead class="bg-success">
            <tr>
                <th>
                    Tên Món
                </th>
                <th>
                    Mô tả
                </th>
                <th>
                    Hình minh họa
                </th>
                <th>
                    Giá
                </th>
                <th>
                    Loại
                </th>

                <th>ACTION</th>
            </tr>
        </thead>
        <tbody class="tbody">
            @foreach (var item in Products)
            {
<tr>
    <td>@item.TenMon</td>
    <td style="width:350px">@item.MoTa</td>
    <td style="width:250px" class="text-center"><img src="@item.Hinh" style="width:200px" /></td>
    <td>@item.Gia.ToString("n0").Replace(',', '.')</td>
    <td>@item.MaLoaiNavigation.TenLoai</td>
    <td>
        <a class="btn btn-info btn-sm btn-sm active" @onclick="() => GetEdit(item.Id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> | @if (item.TrangThai)
        {<a class="btn btn-danger btn-sm active" @onclick="() => Delete(item.Id)" title="Tạm ngừng phục vụ món"> <i class="fa fa-trash"></i></a>}
        else
        {
<a class="btn btn-success btn-sm active" @onclick="() => Restore(item.Id)" title="Tiếp tục phục vụ món"> <i class="fa fa-recycle" aria-hidden="true"></i></a>}
    </td>

</tr>
}
        </tbody>
    </table>
</div>
                <div class="row">
                    <div class="col">
                        <Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage" />
                    </div>
                </div>}
            else
            {
                if (Nocontent && !loading)
                {
<span>Không có kết quả</span> }
                else
                {
                    <div class="spinner-border spinner-border-sm"></div><span>Đang lấy dữ liệu</span>
                }


            }

</div>


<div id="ProductModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">

                <h5 class="modal-title">@TitleText</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <EditForm EditContext="@editContext" OnValidSubmit="HandleValidSubmit">
                <DataAnnotationsValidator />
                <div class="form-group ">
                    <input type="text" disabled style="display:none" placeholder="ID" @bind="input.id" class="form-control" />

                </div>
                <div class="d-flex flex-wrap">




                    <div class="form-group col-6">
                        <label class="control-label">Tên món</label>
                        <input @bind="input.Name" class="form-control" />

                        <ValidationMessage For="@(() => input.Name)" />

                    </div>
                    <div class="form-group col-6">
                        <label class="control-label">Giá</label>
                        <input @bind="input.Gia" class="form-control" />

                        <ValidationMessage For="@(() => input.Gia)" />

                    </div>
                    <div class="form-group col-6">
                        <label class="control-label">Mã loại</label>
                        <select class="form-control mr-2" @bind="input.MaLoai">
                           
                            @foreach (var item in phanLoais)
                            {
                <option value="@item.Id">@item.TenLoai</option>}




                        </select>
                        <ValidationMessage For="@(() => input.MaLoai)" />

                    </div>
                    <div class="form-group col-6">
                        <label class="control-label">Mô tả</label>
                        <input @bind="input.Mota" class="form-control" />

                        <ValidationMessage For="@(() => input.Mota)" />

                    </div>

                    <div class="form-group col-6">
                        <div class="row"><div class="col-md-2"><label for="image">Image:</label></div><div class="col-md-10"><button type="button" class="btn btn-success btn-sm text-nowrap" onclick="document.getElementById('getFile').click()">Chọn hình</button></div></div>

                        <div class="col-md-10">
                            <ImageUpload OnChange="AssignImageUrl" ImgUrl="@input.Hinh" />
                        </div>
                    </div>
                    <div class="form-group col-6">
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" @bind="input.TrangThai" /> Trạng Thái
                            </label>
                        </div>
                    </div>


                </div>


                <div class="modal-body">
                    <div id="myModalContent">

                    </div>
                </div>


                <div class="modal-footer">
                    <div class="text-right">
                        <button type="submit" id="btSave" class="btn btn-sm btn-success"><i class="fa fa-save"></i>&nbsp;Lưu</button>

                        <button type="button" class="btn btn-danger btn-sm" id="btclose" data-bs-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Đóng</button>
                    </div>
                </div>
            </EditForm>
        </div>

    </div>
</div>





    
