

@model TES_MEDICAL.GUI.Models.TinTuc

<div class="container-fluid" id="pannelTinTuc">
    <h1>Thông tin</h1>
    <hr />


    <div class="row m-2">
                    
         <div class="col-6 row">
            <div class="col-4" style="font-weight:bold!important">
                TieuDe
            </div>
            <div class="col-8">
                @Html.DisplayFor(model => model.TieuDe)
            </div>
        </div>
          
                     
         <div class="col-6 row">
            <div class="col-4" style="font-weight:bold!important">
                NoiDung
            </div>
            <div class="col-8">
                @Html.DisplayFor(model => model.NoiDung)
            </div>
        </div>
          
                     
         <div class="col-6 row">
            <div class="col-4" style="font-weight:bold!important">
                TrangThai
            </div>
            <div class="col-8">
                @Html.DisplayFor(model => model.TrangThai)
            </div>
        </div>
          
                     
         <div class="col-6 row">
            <div class="col-4" style="font-weight:bold!important">
                MaNguoiViet
            </div>
            <div class="col-8">
                @Html.DisplayFor(model => model.MaNguoiViet)
            </div>
        </div>
          
                     
         <div class="col-6 row">
            <div class="col-4" style="font-weight:bold!important">
                MaTL
            </div>
            <div class="col-8">
                @Html.DisplayFor(model => model.MaTL)
            </div>
        </div>
          
                
    </div>

    
  
    </div>






