

@model TES_MEDICAL.GUI.Models.NhanVienYte

<div class="container-fluid" id="pannelNhanVienYte">
    <h4 style="text-align:center; font-weight:bold">THÔNG TIN NHÂN VIÊN Y TẾ</h4>
    <hr />

    <div class="row">
        <div class="col-sm-9">
            <div class="m-1">
                <div class="col-12 row">
                    <div class="col-4" style="font-weight:bold!important">
                        Email
                    </div>
                    <div class="col-8">
                        @Html.DisplayFor(model => model.EmailNV)
                    </div>
                </div>


                <div class="col-12 row">
                    <div class="col-4" style="font-weight:bold!important">
                        Họ tên
                    </div>
                    <div class="col-8">
                        @Html.DisplayFor(model => model.HoTen)
                    </div>
                </div>


                <div class="col-12 row">
                    <div class="col-4" style="font-weight:bold!important">
                        Số điện thoại
                    </div>
                    <div class="col-8">
                        @Html.DisplayFor(model => model.SDTNV)
                    </div>
                </div>


                <div class="col-12 row">
                    <div class="col-4" style="font-weight:bold!important">
                        Chức vụ
                    </div>
                    <div class="col-8">
                        @Html.DisplayFor(model => model.ChucVu)
                    </div>
                </div>


                <div class="col-12 row">
                    <div class="col-4" style="font-weight:bold!important">
                        Trạng thái
                    </div>
                    <div class="col-8">
                        @Html.DisplayFor(model => model.TrangThai)
                    </div>
                </div>


                <div class="col-12 row">
                    <div class="col-4" style="font-weight:bold!important">
                        Chuyên khoa
                    </div>
                    <div class="col-8">
                        @Html.DisplayFor(model => model.ChuyenKhoa)
                    </div>
                </div>


            </div>
        </div>

        <!--Phần hình ảnh-->
        <div class="col-sm-3">
            <div class="col-4" style="font-weight:bold!important">
                Hình ảnh
            </div>
            <div class="col-8">
                @Html.DisplayFor(model => model.Hinh)
            </div>
        </div>
    </div>




</div>






